asgiref==3.4.1
deluge-client==1.9.0
Django==3.2.8
django-ajax-datatable==4.3.1
django-background-tasks==1.2.5
django-crispy-forms==1.13.0
guessit==3.4.3
qbittorrent-api==2021.8.23
requests==2.26.0
transmission-rpc==3.3.0
urllib3==1.26.8
