{% extends "base_generic.html" %}
{% load static %}
{% block stylesheet %}
<link href="{% static 'ajax_datatable/css/style.css' %}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.css' %}">
{% endblock %}

{% block content %}
<div>
    <div class="row mx-3">
        <div class="ml-3 mt-4 mr-auto">
            <a href="{% url 'cs_start' %}" class="btn  btn-primary ">Start Cross Seed</a>
        </div>
        <div class="mr-3 my-3">
            <!-- <button type="button" id="clearRecBtn" class="btn btn-danger">Clear Records</button> -->
            <a href="{% url 'cs_clearcrossed' %}"  id="clearRecBtn" class="btn  btn-warning ">Clear records</a>
        </div>
    </div>

    <div classs="row my-1" id="list_contents">
        {% include 'crseed/logdiv.html' %}
    </div>


    <div class="row mx-3">
        <div class="table-responsive my-3">
            <table id="datatable" width="100%" class="table  display cell-border">
            </table>
        </div>
    
    </div>
</div>


{% endblock %}


{% block script%}
<script type="text/javascript" src="{% static 'ajax_datatable/js/utils.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'js/jquery.dataTables.js' %}"></script>


<script>

$(document).ready(function () {
        AjaxDatatableViewUtils.init({
        });
        AjaxDatatableViewUtils.initialize_table(
            $('#datatable'),
            "{% url 'cs_listtable' %}",
            {
                // extra_options (example)
                processing: false,
                autoWidth: true,
                full_row_select: false,
                scrollX: true,
				searching: true, paging: true, info: false           
            },
        );
    });

    // "createdRow": function (row, data, dataIndex) {
    //         if (data.fields.name == data.fields.crossed_with) {
    //             // $(row).addClass('grayed');
    //             $('td', row).css('background-color', 'LightGreen');
    //         }
    //     },


    var table = $("#datatable").closest('table.dataTable');
    $('#datatable').on('rowCallback', function(event, table, row, data ) {
        // console.log(data);
        if (data.name == data.crossed_with){
            // $(row).addClass('reen') 
            $('td', row).css('background-color', 'LightGreen');
        }
        // $(row).addClass(data.read ? 'read' : 'unread');
    })
    var count = 0;
    (function worker() {
        $.ajax({
            url: '/crseed/processlog',
            success: function (data) {
                // $('#list_contents').html(data);
                $('#clientCount').html( data[0].fields.total_in_client + ' / ' + data[0].fields.progress)
                $('#sessionCount').html( data[0].fields.flow_limit + ' / ' + data[0].fields.query_count)
                $('#downloadCount').html( data[0].fields.download_count)

                if ($('#logMessage').length > 0) {
                    var logbox = $('#logMessage');
                    logbox.append(data[0].fields.log_message)
                    logbox.scrollTop(logbox[0].scrollHeight);
                }
                count = (count + 1) % 3
                if (count == 0){
                    // console.log('reload called.')
                    $('#datatable').DataTable().ajax.reload(null, false);
                    //table.ajax.reload(null, false);
                }
                setTimeout(worker, 2000);
            },
            error: function() {
                ;// clearTimeout(worker);
            },
            complete: function () {
            }
        });
    })();


    $(function () {
    $('#abortBtn').on('click', function () {
        $.ajax({
            url: "{% url 'cs_cancel_tasks' %}",
        });
    });
    });

    // $(function () {
    // $('#clearRecBtn').on('click', function () {
    //     r = confirm("Are you sure?");
    //     if (r) {
    //         $.ajax({
    //             url: "{% url 'cs_clearcrossed' %}",
    //         });
    //     }
    // });
    // });

</script>



{% endblock %}