{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div>

<div class="row mx-3">
    <span class="ml-3 mt-4 mr-auto" ><h4>Settings</h4></span>  
</div>

<div class="row my-3 justify-content-center">
    <div class="col-sm-8 ">
            {% crispy form %}

    </div>
</div>
</div>

{% endblock %}

{% block script%}
<script type="text/javascript">
    $(document).ready(function() {
        $('#check_id').on('change',function(){
            // console.log($(this).is(":checked") );
            if( $(this).is(":checked")){
                $("#CategoryIndexers").show()
             }
             else{
                $("#CategoryIndexers").hide()
             }
        });
        $("#check_id").trigger("change")         
    });
</script>
{% endblock %}
